# Example usage

To use `databallpy` in a project:

In [1]:
import sys
!{sys.executable} -m pip install --upgrade pip --quiet
!{sys.executable} -m pip install databallpy --quiet

In [2]:
import databallpy
databallpy.__version__

'0.1.1'

In [3]:
# obtain a match object
from databallpy.match import get_match

match = get_match(
    tracking_data_loc="../data/test tracking data.dat",
    tracking_metadata_loc="../data/test metadata.xml",
    tracking_data_provider="tracab",
    event_data_loc="../data/test f24.xml",
    event_metadata_loc="../data/test f7.xml",
    event_data_provider="opta"   
)

Reading in ../data/test tracking data.dat - Completed
Writing lines to dataframe:

100%|██████████████████████████████████████████████████████████████████████████████████████████████████████| 161713/161713 [00:02<00:00, 53920.40it/s]

In [4]:
match.tracking_data

,timestamp,ball_x,ball_y,ball_z,ball_status,ball_posession,away_8_x,away_8_y,away_19_x,away_19_y,...,away_31_y,home_17_x,home_17_y,away_5_x,away_5_y,away_2_x,away_2_y,home_10_x,home_10_y,matchtime_td
0,1107712,0.09,0.56,0.05,alive,away,9.24,-5.90,6.08,25.02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,00:00
1,1107713,0.11,0.55,0.05,alive,away,9.23,-5.88,6.08,25.04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,00:00
2,1107714,0.53,0.51,0.09,alive,away,9.23,-5.87,6.07,25.06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,00:00
3,1107715,0.96,0.47,0.14,alive,away,9.22,-5.85,6.07,25.08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,00:00
4,1107716,1.38,0.43,0.18,alive,away,9.22,-5.83,6.05,25.09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161708,1269420,49.97,18.84,0.10,alive,away,NaN,NaN,NaN,NaN,...,6.60,31.79,14.95,38.78,4.10,17.60,2.18,25.64,7.81,90:00+0:06
161709,1269421,50.39,18.75,0.17,alive,away,NaN,NaN,NaN,NaN,...,6.59,31.81,14.99,38.85,4.05,17.63,2.23,25.68,7.84,90:00+0:06
161710,1269422,50.79,18.65,0.22,alive,away,NaN,NaN,NaN,NaN,...,6.58,31.82,15.02,38.94,4.00,17.66,2.28,25.70,7.87,90:00+0:06
161711,1269423,51.20,18.55,0.24,alive,away,NaN,NaN,NaN,NaN,...,6.57,31.83,15.06,39.03,3.94,17.71,2.33,25.73,7.89,90:00+0:06
161712,1269424,51.59,18.45,0.26,dead,away,NaN,NaN,NaN,NaN,...,6.57,31.84,15.09,39.11,3.90,17.74,2.37,25.77,7.92,90:00+0:07

In [5]:
match.event_data

,event_id,type_id,event,period_id,minutes,seconds,player_id,team_id,outcome,start_x,start_y,datetime,player_name
0,2499582091,34,team set up,16,0,0,NaN,318,1,-52.6500,-34.1000,2023-01-22 10:24:38.508,NaN
1,2499582269,34,team set up,16,0,0,NaN,425,1,52.6500,34.1000,2023-01-22 10:28:32.117,NaN
2,2499594199,32,start,1,0,0,NaN,318,1,-52.6500,-34.1000,2023-01-22 11:18:32.152,NaN
3,2499594195,32,start,1,0,0,NaN,425,1,52.6500,34.1000,2023-01-22 11:18:32.152,NaN
4,2499594225,1,pass,1,0,1,439742.0,425,1,0.3159,-0.0682,2023-01-22 11:18:33.637,Ricardo Pepi
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1758,2499639427,30,end,2,93,45,NaN,318,1,-52.6500,-34.1000,2023-01-22 13:09:58.690,NaN
1759,2499639571,30,end,14,0,0,NaN,425,1,52.6500,34.1000,2023-01-22 13:10:22.436,NaN
1760,2499639573,37,collection end,14,0,0,NaN,425,1,52.6500,34.1000,2023-01-22 13:10:22.471,NaN
1761,2499639617,30,end,14,0,0,NaN,318,1,-52.6500,-34.1000,2023-01-22 13:10:28.105,NaN
1762,2499639633,37,collection end,14,0,0,NaN,318,1,-52.6500,-34.1000,2023-01-22 13:10:28.140,NaN

In [6]:
match.home_players[["position", "starter"]]

      position  starter
0   goalkeeper     True
1     defender     True
2     defender     True
3     defender     True
4     defender     True
5   midfielder     True
6   midfielder     True
7   midfielder     True
8   midfielder     True
9   midfielder     True
10     striker     True
11    defender    False
12  midfielder    False
13  goalkeeper    False
14  goalkeeper    False
15    defender    False
16  midfielder    False
17    defender    False
18     forward    False
19     forward    False
20  midfielder    False

# Save Match Clip

In [8]:
from databallpy.visualize import save_match_clip

match.home_team_name = "Team One"
match.away_team_name = "Team Two"

# saving match clip from the index 0 to 100 (first 4 seconds of the match).
save_match_clip(match, 0, 100, save_folder="../data", title="example")

Making match clip...

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████| 101/101 [00:01<00:00, 59.05it/s]